body {
  margin: 0;
  color: var(--color-neutral-theme-400);
  background-color: var(--color-neutral-theme-50);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* dropdown MuiAutocomplete */
.MuiAutocomplete-popper {
}

.MuiAutocomplete-paper {
  box-shadow: 0px 24px 56px -12px rgb(37 38 46 / 10%) !important;
  margin-top: 16px;
  border-radius: 16px !important;
}

.MuiAutocomplete-noOptions {
  color: var(--color-neutral-theme-300) !important;
  display: flex;
  justify-content: center;
  align-items: center
}